In [ ]:
import pandas as pd
import numpy as np

Importing the input data file

Plate IDs seem to be unique - so all entries/records seem to be unique

In [3]:
#Read the csv file
df=pd.read_csv("Resources\Parkingtickets_Dec2016.csv")
df

,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,From Hours In Effect,To Hours In Effect,Vehicle Color,Vehicle Year,Meter Number,Violation Post Code,Violation Description
0,GYG8911,NY,PAS,12/18/2016,24,SUBN,JEEP,1204P,Q,NaN,NaN,BK,2015,NaN,15 4,24-No Parking (exc auth veh)
1,8P82H,NY,OMT,12/21/2016,14,TAXI,NISSA,1015A,NY,ALL,ALL,YELLO,2014,-,NaN,NaN
2,GML6346,NY,PAS,12/19/2016,21,SDN,HONDA,1212P,K,1130A,0100A,GREY,2013,-,NaN,NaN
3,12203MG,NY,COM,12/1/2016,46,VAN,FRUEH,1137A,NY,ALL,ALL,BROWN,2015,-,NaN,NaN
4,HEG7444,NY,PAS,12/1/2016,36,4DSD,BMW,1027A,BK,NaN,NaN,BK,2016,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30908,GCV1621,PA,PAS,12/25/2016,7,SDN,NISSA,0232P,QN,NaN,NaN,NaN,2014,NaN,NaN,FAILURE TO STOP AT RED LIGHT
30909,GVH3100,NY,PAS,12/5/2016,21,SUBN,FORD,0837A,Q,0830A,0900A,BK,2013,NaN,07 4,21-No Parking (street clean)
30910,GZK6941,NY,PAS,12/2/2016,36,4DSD,INFIN,0424P,QN,NaN,NaN,WH,2015,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION
30911,GCL2009,NY,PAS,12/29/2016,7,SUBN,NISSA,1004A,QN,NaN,NaN,BK,2015,NaN,NaN,FAILURE TO STOP AT RED LIGHT
30912,GDL7195,NY,PAS,12/14/2016,36,4DSD,BMW,1206P,QN,NaN,NaN,WH,2016,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION

Dataset Observations

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30913 entries, 0 to 30912
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Plate ID               30913 non-null  object
 1   Registration State     30913 non-null  object
 2   Plate Type             30913 non-null  object
 3   Issue Date             30913 non-null  object
 4   Violation Code         30913 non-null  int64
 5   Vehicle Body Type      30864 non-null  object
 6   Vehicle Make           30846 non-null  object
 7   Violation Time         30913 non-null  object
 8   Violation County       30838 non-null  object
 9   From Hours In Effect   13175 non-null  object
 10  To Hours In Effect     13175 non-null  object
 11  Vehicle Color          30423 non-null  object
 12  Vehicle Year           30913 non-null  int64
 13  Meter Number           4499 non-null   object
 14  Violation Post Code    18098 non-null  object
 15  Violation Description  28170 non-null  object
dtypes: int64(2), object(14)
memory usage: 3.8+ MB

In [5]:
#This checks for missing value in dataframe
pd.isnull(df).sum()

Plate ID                     0
Registration State           0
Plate Type                   0
Issue Date                   0
Violation Code               0
Vehicle Body Type           49
Vehicle Make                67
Violation Time               0
Violation County            75
From Hours In Effect     17738
To Hours In Effect       17738
Vehicle Color              490
Vehicle Year                 0
Meter Number             26414
Violation Post Code      12815
Violation Description     2743
dtype: int64

Data cleaning & sorting

In [ ]:
#Delete column from df
del df['From Hours In Effect']
df.head()

In [7]:
#Delete column from df
del df['To Hours In Effect']
df.head()

,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,Vehicle Color,Vehicle Year,Meter Number,Violation Post Code,Violation Description
0,GYG8911,NY,PAS,12/18/2016,24,SUBN,JEEP,1204P,Q,BK,2015,NaN,15 4,24-No Parking (exc auth veh)
1,8P82H,NY,OMT,12/21/2016,14,TAXI,NISSA,1015A,NY,YELLO,2014,-,NaN,NaN
2,GML6346,NY,PAS,12/19/2016,21,SDN,HONDA,1212P,K,GREY,2013,-,NaN,NaN
3,12203MG,NY,COM,12/1/2016,46,VAN,FRUEH,1137A,NY,BROWN,2015,-,NaN,NaN
4,HEG7444,NY,PAS,12/1/2016,36,4DSD,BMW,1027A,BK,BK,2016,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION

In [42]:
#Df with vehicle body type & violation code
vb=df.drop(['Plate ID','Registration State', 'Plate Type', 'Issue Date', 'Vehicle Make','Violation Time','Violation County','Vehicle Color', 'Vehicle Year','Meter Number','Violation Post Code', 'Violation Description'], axis=1)
vb

       Violation Code Vehicle Body Type
0                  24              SUBN
1                  14              TAXI
2                  21               SDN
3                  46               VAN
4                  36              4DSD
...               ...               ...
30908               7               SDN
30909              21              SUBN
30910              36              4DSD
30911               7              SUBN
30912              36              4DSD

[30913 rows x 2 columns]

In [51]:
vc=vb.groupby('Vehicle Body Type')
vc=vc.sum()

In [50]:
a=vc.count()
a.reset_index()

    Vehicle Body Type  Violation Code
0                2 DR              20
1                  2D              11
2                2DSD             705
3                  2S               2
4                  3D               1
..                ...             ...
107              WAGO             216
108              WDOO               1
109                WG               1
110              WRAN               1
111                ZL               1

[112 rows x 2 columns]

In [ ]:
#plot a bar graph for violation code v body type

In [ ]:
#calculate percentage of violations per body type. consider top 5, if % less than 1 or very low, then combine those values as others
#plot a pie chart for body type.

In [ ]:
#analysis-suggestion from Sai-T test look into that

In [ ]:
#Look for more patterns?

In [ ]:
pie chart

In [19]:
# #Drop rows with missing values-no need to drop rows with Nan
# df=df.dropna(axis=0, how='any')
# df.head()

,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,From Hours In Effect,To Hours In Effect,Vehicle Color,Vehicle Year,Meter Number,Violation Post Code,Violation Description
9,GMR2584,NY,PAS,12/1/2016,37,4DSD,HYUND,1110A,K,0900A,0700P,GY,2013,311-3061,01 3,37-Expired Muni Meter
21,35079MD,NY,COM,12/8/2016,42,VAN,NS/OT,1258P,NY,0700A,0600P,WHITE,2013,147-3032,65 1,42-Exp. Muni-Mtr (Com. Mtr. Z)
22,98166MD,NY,COM,12/8/2016,42,VAN,CHEVR,0307P,NY,0800A,0600P,BL,2013,148-3028,46,42-Exp. Muni-Mtr (Com. Mtr. Z)
24,GBD7091,NY,PAS,12/7/2016,37,SUBN,BMW,0639P,NY,0830A,0700P,BK,2014,140-3145,99 6,37-Expired Muni Meter
26,GVK6209,NY,PAS,12/10/2016,37,SUBN,HONDA,1149A,K,0900A,0700P,GY,2014,304-3063,11 3,37-Expired Muni Meter

In [20]:
#Check for missing data after cleanup
pd.isnull(df).sum()

Plate ID                 0
Registration State       0
Plate Type               0
Issue Date               0
Violation Code           0
Vehicle Body Type        0
Vehicle Make             0
Violation Time           0
Violation County         0
From Hours In Effect     0
To Hours In Effect       0
Vehicle Color            0
Vehicle Year             0
Meter Number             0
Violation Post Code      0
Violation Description    0
dtype: int64

In [21]:
#Reset index
cleaned_df=df.reset_index(drop=True)
cleaned_df.head()

,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,From Hours In Effect,To Hours In Effect,Vehicle Color,Vehicle Year,Meter Number,Violation Post Code,Violation Description
0,GMR2584,NY,PAS,12/1/2016,37,4DSD,HYUND,1110A,K,0900A,0700P,GY,2013,311-3061,01 3,37-Expired Muni Meter
1,35079MD,NY,COM,12/8/2016,42,VAN,NS/OT,1258P,NY,0700A,0600P,WHITE,2013,147-3032,65 1,42-Exp. Muni-Mtr (Com. Mtr. Z)
2,98166MD,NY,COM,12/8/2016,42,VAN,CHEVR,0307P,NY,0800A,0600P,BL,2013,148-3028,46,42-Exp. Muni-Mtr (Com. Mtr. Z)
3,GBD7091,NY,PAS,12/7/2016,37,SUBN,BMW,0639P,NY,0830A,0700P,BK,2014,140-3145,99 6,37-Expired Muni Meter
4,GVK6209,NY,PAS,12/10/2016,37,SUBN,HONDA,1149A,K,0900A,0700P,GY,2014,304-3063,11 3,37-Expired Muni Meter

In [24]:
#Converted file to excel
cleaned_df.to_excel(r"Resources\Parkingtickets_Dec2016C.xlsx", index=False)

In [25]:
#Reading cleaned file
cleaned_df=pd.read_excel("Resources\Parkingtickets_Dec2016C.xlsx", index=True)
cleaned_df

,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,From Hours In Effect,To Hours In Effect,Vehicle Color,Vehicle Year,Meter Number,Violation Post Code,Violation Description
0,GMR2584,NY,PAS,12/1/2016,37,4DSD,HYUND,1110A,K,0900A,0700P,GY,2013,311-3061,01 3,37-Expired Muni Meter
1,35079MD,NY,COM,12/8/2016,42,VAN,NS/OT,1258P,NY,0700A,0600P,WHITE,2013,147-3032,65 1,42-Exp. Muni-Mtr (Com. Mtr. Z)
2,98166MD,NY,COM,12/8/2016,42,VAN,CHEVR,0307P,NY,0800A,0600P,BL,2013,148-3028,46,42-Exp. Muni-Mtr (Com. Mtr. Z)
3,GBD7091,NY,PAS,12/7/2016,37,SUBN,BMW,0639P,NY,0830A,0700P,BK,2014,140-3145,99 6,37-Expired Muni Meter
4,GVK6209,NY,PAS,12/10/2016,37,SUBN,HONDA,1149A,K,0900A,0700P,GY,2014,304-3063,11 3,37-Expired Muni Meter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,DSG5982,NY,PAS,12/16/2016,37,SUBN,TOYOT,0315P,K,0900A,0700P,SILVE,2013,301-3011,05 3,37-Expired Muni Meter
1743,HKD1768,NY,OMS,12/1/2016,37,SUBN,JEEP,0210P,BX,0830A,0700P,TN,2016,201-3170,42 2,37-Expired Muni Meter
1744,HFY9287,NY,PAS,12/20/2016,37,4DSD,JAGUA,0237P,BX,0800A,0700P,WH,2016,208-3082,18 2,37-Expired Muni Meter
1745,88188MH,NY,COM,12/22/2016,37,VAN,FORD,1144A,NY,0900A,0700P,BL,2016,103-3011,46 7,37-Expired Muni Meter
1746,53493ME,NY,COM,12/3/2016,37,VAN,NISSA,0617P,NY,0900A,0700P,WH,2014,406-3013,74 1,37-Expired Muni Meter

In [26]:
#Cleaned dataframe observations
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747 entries, 0 to 1746
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Plate ID               1747 non-null   object
 1   Registration State     1747 non-null   object
 2   Plate Type             1747 non-null   object
 3   Issue Date             1747 non-null   object
 4   Violation Code         1747 non-null   int64
 5   Vehicle Body Type      1747 non-null   object
 6   Vehicle Make           1747 non-null   object
 7   Violation Time         1747 non-null   object
 8   Violation County       1747 non-null   object
 9   From Hours In Effect   1747 non-null   object
 10  To Hours In Effect     1747 non-null   object
 11  Vehicle Color          1747 non-null   object
 12  Vehicle Year           1747 non-null   int64
 13  Meter Number           1747 non-null   object
 14  Violation Post Code    1747 non-null   object
 15  Violation Description  1747 non-null   object
dtypes: int64(2), object(14)
memory usage: 218.5+ KB

In [29]:
cleaned_df

,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,From Hours In Effect,To Hours In Effect,Vehicle Color,Vehicle Year,Meter Number,Violation Post Code,Violation Description
0,GMR2584,NY,PAS,12/1/2016,37,4DSD,HYUND,1110A,K,0900A,0700P,GY,2013,311-3061,01 3,37-Expired Muni Meter
1,35079MD,NY,COM,12/8/2016,42,VAN,NS/OT,1258P,NY,0700A,0600P,WHITE,2013,147-3032,65 1,42-Exp. Muni-Mtr (Com. Mtr. Z)
2,98166MD,NY,COM,12/8/2016,42,VAN,CHEVR,0307P,NY,0800A,0600P,BL,2013,148-3028,46,42-Exp. Muni-Mtr (Com. Mtr. Z)
3,GBD7091,NY,PAS,12/7/2016,37,SUBN,BMW,0639P,NY,0830A,0700P,BK,2014,140-3145,99 6,37-Expired Muni Meter
4,GVK6209,NY,PAS,12/10/2016,37,SUBN,HONDA,1149A,K,0900A,0700P,GY,2014,304-3063,11 3,37-Expired Muni Meter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,DSG5982,NY,PAS,12/16/2016,37,SUBN,TOYOT,0315P,K,0900A,0700P,SILVE,2013,301-3011,05 3,37-Expired Muni Meter
1743,HKD1768,NY,OMS,12/1/2016,37,SUBN,JEEP,0210P,BX,0830A,0700P,TN,2016,201-3170,42 2,37-Expired Muni Meter
1744,HFY9287,NY,PAS,12/20/2016,37,4DSD,JAGUA,0237P,BX,0800A,0700P,WH,2016,208-3082,18 2,37-Expired Muni Meter
1745,88188MH,NY,COM,12/22/2016,37,VAN,FORD,1144A,NY,0900A,0700P,BL,2016,103-3011,46 7,37-Expired Muni Meter
1746,53493ME,NY,COM,12/3/2016,37,VAN,NISSA,0617P,NY,0900A,0700P,WH,2014,406-3013,74 1,37-Expired Muni Meter

In [34]:
vc=cleaned_df.groupby('Violation Code').count()
vc

,Plate ID,Registration State,Plate Type,Issue Date,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,From Hours In Effect,To Hours In Effect,Vehicle Color,Vehicle Year,Meter Number,Violation Post Code,Violation Description
Violation Code,,,,,,,,,,,,,,,
37,1636,1636,1636,1636,1636,1636,1636,1636,1636,1636,1636,1636,1636,1636,1636
42,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
43,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1